amqp==1.4.9
anyjson==0.3.3
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
billiard==3.3.0.23
bleach==3.1.0
colorama==0.4.1
configparser==3.7.2
decorator==4.3.2
defusedxml==0.5.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.11.20
django-bower==5.2.0
django-nvd3==0.9.7
docutils==0.14
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
gunicorn==19.6.0
holidays==0.9.9
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.1
pandas==0.24.1
pandocfilters==1.4.2
pathlib2==2.3.3
pickleshare==0.7.5
Platypus-Opt==1.0.3
prometheus-client==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
Pygments==2.3.1
python-dateutil==2.8.0
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.9
pywinpty==0.5.5
pyzmq==18.0.0
qtconsole==4.4.3
scandir==1.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
static3==0.7.0
statistics==1.0.3.5
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
Unidecode==1.0.23
vine==1.2.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.2.2
widgetsnbextension==3.4.2
win-unicode-console==0.5
